.row
  .twelve.columns
    .left_space
      .city 
        .text
          It's #{Time.current.strftime("%A, %B, %d, at %I:%M %p").gsub(/ 0/, " ")} and
          %span.black #{@day[0][:string]}
          in
        = render 'cities/list_button'
