.seven.columns.centered.about
  %h1 Weather Rooster

  %br
  %br
  %br
  
  %h2 Innovative way to get most accurate weather  
  
  %h4 What problems we solve
  
  %p Evidence from Facebook and Instagram plus analysis from outside experts has convinced the Federal Trade Commission to today approve the landmark acquisition. After four months of investigation, the UK’s Office Of Fair Trading that works with the FTC also revealed exactly why it approved the deal.
  
  %h4 Why this is important
  
  %p Evidence from Facebook and Instagram plus analysis from outside experts has convinced the Federal Trade Commission to today approve the landmark acquisition. After four months of investigation, the UK’s Office Of Fair Trading that works with the FTC also revealed exactly why it approved the deal.
  
  %h4 Who will use this service
  
  %p  Evidence from Facebook and Instagram plus analysis from outside experts has convinced the Federal Trade Commission to today approve the landmark acquisition. After four months of investigation, the UK’s Office Of Fair Trading that works with the FTC also revealed exactly why it approved the deal.
  
  %h4 About this product
  
  %p This product was started during the hackathon to disrupt weather :) 
  
  
  
