.left_space
  %h2 Charts and Analytics for #{@my_city.name}

  %p

  - graph_data = prepare_graph_data(@my_city, @services.map {|s| s[:service]})
  .row
    .provider-analytics
      = render :partial => 'weather_services/big_chart', :locals => {:data => graph_data, :city => @my_city}
