%h1 Contact us

%br
%h4
  Email us at
  = link_to "weatherrooster@coshx.com", "mailto:weatherrooster@coshx.com"

%br
%h4 We'd love to hear from you!

%br
%h4 To receive updates when we improve Weather Rooster, please enter your email.
= render 'meta/mail_chimp_signup'

