.seven.columns.centered.about
  %h2 Contact us

  %br
  %p
    Email us at
    = link_to "weatherrooster@coshx.com", "mailto:weatherrooster@coshx.com"
    We'd love to hear from you!

  %p To receive updates when we improve Weather Rooster, please enter your email.
  = render 'meta/mail_chimp_signup'

