.container
  .row
    %h1 Weather Rooster
    %h2{:style => 'margin-bottom:100px'}  The most accurate weather
    .p WeatherRooster ranks different sources of local weather by their accuracy over time, so that people know which weather forecast they should trust. Also, individuals and TV stations can sign up to offer their predictions and compete with each other to be the most accurate.
    
    %h2{:style => 'margin-bottom:100px'} We want to disrupt the weather :)
    
    %input{:type => 'edit'}
    %a.large.button{:href => thank_path} Subscribe
