.eight.columns
  .left_space
    = render 'weather_services/table'
.four.columns
  = render 'home/join_button'

#accuracy.reveal-modal
  %h2 Accuracy Measuring
  %p Accuracy is the mean of Pearson correllation coefficients between the forecast highs and lows and between the observed highs and lows for available data in most recent 30 days, muplitplied by 100.
  %p Higher is better.
  %a.close-reveal-modal &#215;

#error.reveal-modal
  %h2 What is 'Error'
  %p The error sparklines show the mean of the difference between the forecast high and the observed high and the difference between the forecast low and the observer low, for the most recent 30 days for which data is avaliable.
  %p Lower is better.
  %a.close-reveal-modal &#215;

#get-started.reveal-modal
  %h2 Have You Got the Most Accurate Weather?
  %p Then we want to rank it on Weather Rooster!
  %p
    Email us at
    = link_to "weatherrooster@coshx.com", "mailto:weatherrooster@coshx.com"
    and let's get started.
  %a.close-reveal-modal &#215;
