.eight.columns
  .left_space
    = render 'weather_services/table'
.four.columns
  = render 'home/join_button'
  
  
#accuracy.reveal-modal
  %h2 Accuracy Measuring
  %p Accuracy is measured based on data for 30 days for specific region you are located in
  %a.close-reveal-modal &#215;

