.status-block

  %h2 Status
  %p Status of Data Aggregation
  %br

  .status
    %table
      %tr
        %td
        -@active_services.each do |s|
          %td=s.short_name
        -@not_active_services.each do |s|
          %td.noaa-header=s.short_name

      -@cities.each do |c|
        %tr
          %td=c.name
          -@active_services.each do |s|
            %td
              -refresh_last_date = s.weather_records.where(:city_id => c.id).order(:created_at).last.created_at.in_time_zone("Pacific Time (US & Canada)")

              -if weather_record_valid?(refresh_last_date)
                .green_box
                =refresh_last_date.strftime("%v %R")
              -else
                .red_box
                =refresh_last_date.strftime("%v %R")

              %br

              -refresh_last_date=s.current_forecasts.where(:city_id => c.id).order(:updated_at).last.updated_at.in_time_zone("Pacific Time (US & Canada)")

              -if current_forecast_valid?(refresh_last_date)
                .green_box
                =refresh_last_date.strftime("%v %R")
              -else
                .red_box
                =refresh_last_date.strftime("%v %R")

          -@not_active_services.where(:active => false).each do |s|
            %td.noaa
              -refresh_last_date = s.weather_records.where(:city_id => c.id).order(:created_at).last.created_at.in_time_zone("Pacific Time (US & Canada)")

              -if weather_record_valid?(refresh_last_date)
                .green_box
                =refresh_last_date.strftime("%v %R")
              -else
                .red_box
                =refresh_last_date.strftime("%v %R")



  %br
  .seven.columns.centered
    %p First Date: last WeatherRecord, Second Date: last CurrentForecast
    %p Current Forecast is updating every 15 minutes, Weather Record updates once a day. Green means that the data was succesfully updated, red means that there is a delay or API doesn't work right.
