%table 
  %tr
    %td
    -@services.each do |s|
      %td=s.short_name
                 
  -@cities.each do |c|
    %tr
      %td=c.name
      -@services.each do |s|
        %td
          =s.weather_records.where(:city_id => c.id).order(:created_at).last.created_at.strftime("%v %R")
          %br
          =s.current_forecasts.where(:city_id => c.id).order(:updated_at).last.updated_at.strftime("%v %R")
      
