%table 
  %tr
    %td
    -@services.each do |s|
      %td=s.short_name
                
  -@cities.each do |c|
    %tr
      %td=c.name
      -@services.each do |s|
        %td
          =s.weather_records.order(:created_at).last.created_at.strftime("%v %R")
          =s.current_forecasts.order(:created_at).last.created_at.strftime("%v %R")
      
