.weather-week
  %ul
    -3.times do |i|
      %li
        =(Time.current+(i+1).day).strftime("%a")
        %br
        .icon-wrap
          =image_tag('weather/sunny.png', :class=>'small-icon');
        .high
        #{@day[i+1][:high]}°
        .low
        #{@day[i+1][:low]}°
    
