.row.weather
  .eight.columns
    .left_space
      = render 'weather/weather_today'
  .four.columns
    = render 'weather/weather_week'

.row
  .twelve.columns
    .weather-description-tablet.left_space
      Your most accurate weather provided by
      =link_to @provider_name, "#"
      %br
      High today: #{@day[0][:high]}°  &nbsp;Low: #{@day[0][:low]}°
.row
  .gradient-bar
