
<script type="text/javascript">
  $(document).ready(function() {
    w = $(".main").width();
    var settings = { type: "line", width: w, height: 100};
    $("table.<%= chart_class %>.graph").visualize(settings);
  });
</script>

<p class=chart-description>Chart Description</p>
