%table.main-table
  %tr
    %th Ranking
    %th Accuracy (?)
    %th Previous Position
    
  %tr
    %td Weather.com
    %td 85%
    %td up

  %tr
    %td Yahoo Weather
    %td 81%
    %td up

  %tr
    %td Weather Bug
    %td 75%
    %td up
      
