# NOTE: we're not using these guys right now
# cause I couldn't get htem to work

weather:
  partner: YOUR_PARTNER_KEY
  license: YOUR_LICENSE_KEY

weather_bug:
  code: YOUR_API_CODE

yahoo:
  app_id: YOUR_APP_ID

# This one is rather important

noaa:
  token: YOUR_API_TOKEN
