%h1 Listing errors

%table
  %tr
    %th Title
    %th Description
    %th Created at
    
  - @errors.each do |error|
    %tr
      %td= error.title
      %td= error.description
      %td= error.created_at.strftime("%v %R")

%br


