-details = ""
-details = "/details" if controller.action_name == 'city_details'

.small.secondary.button.dropdown
  #{closest_city.name}
  %ul
    -@cities.each do |c|
      %li=link_to c.name, "/city/" + slug(c.name) + details.to_s
      %li.divider
