

.a-button {
  border:none !important;
  background: #2BA6CB;
  color:white;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
  padding:15px;
  border-radius:5px;
  cursor:pointer;  
  display:inline-block;
  margin-top:5px;
  margin-bottom:5px;
  font-size:16px;

  &:hover {
    background: #0B86AB;
    color:white;
  }
  
  -webkit-transition: all 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5–12.00 */
          transition: all 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

@media only screen and (max-width:767px) {
.a-button {
display:block;
width:90%;
margin:15px auto;
}

}

@media only screen and (max-width:767px) {
input[type=email] {
display:block  !important;
width:90% !important;
margin:15px auto  !important;
}

}
