$grey: #999999;

.city {
    font-size:16px;  
    margin-top:20px;
    margin-bottom:30px;
    color:black;
    .text {
    display:inline;
    color:$grey;
    }
}

.black {
color:#666666;
}

.join-button {
  p {
    color:black;
    font-size:26px;
  }
}

.view-city-details {
  padding-top:50px;
  padding-bottom:30px;
  a {
    #color: #999999;
  }
}

.about {
padding-top:100px;
h1, h2, h3, h4, h5 {
padding-top:20px;
color:#333;
}
h1, h2 {
padding-bottom:30px;
}
}
