.city {
    font-size:16px;  
    margin-top:20px;
    margin-bottom:30px;
    color:black;
    .text {
    display:inline;
    }
}


.join-button {
  p {
    color:black;
    font-size:26px;
  }
}

.view-city-details {
  padding-top:30px;
  padding-bottom:30px;
  a {
    color: #999999;
  }
}
