$grey:#999999;

body {
  position:relative;
  overflow-x:hidden;  
  
  p, h1, h2, h3, h4, h5, div, .button {
    font-family: 'Nova Flat', cursive;
    color:#666666;
  }

    font-family: 'Nova Flat', cursive;
    color:#666666;
    background:#f7f7f7;
    text-shadow: 1px 1px 0px white;
}


.left_space {
  margin-left:63px;
}

@media only screen and (max-width:767px) {
.left_space {
  margin-left:0px;
}
.container {
padding:15px;
}
.main-table {
margin:auto;
margin-bottom:30px;
}
.join-button {
text-align:center;
}
.weather-now {
margin-left:auto;
margin-right:auto;
text-align:center;
padding-bottom:20px;
}
.logo {
margin:auto;
width:350px;
}
.nav {
margin:auto;
margin-top:-20px;
width:280px;
padding-bottom:70px;
}
.city {
  .text {
    display:none;
  }
}
.weather-week {
background:none !important;
  ul {
    overflow:hidden;
    width:200px;
    margin:auto;
  }
  
padding-top:30px;

}
.fb-like-box {
margin:auto;
margin-top:50px;
float:none !important;
display:block !important;
width:292px !important;
}

}


@media only screen and (max-width:450px) {
.logo {
  display:block;
  background:url(logo.png) no-repeat top center;
  padding-left:0px;
  padding-top:60px;
  width:100%;
  }
}

.gradient-bar {
margin-top:30px;
    width:100%;
    height:60px !important;
    content:' ' !important;
    background:url(gradient-1px.png) repeat-x;
    background-position: 0px 20px;
    box-shadow: 35px 0px 25px #f7f7f7 inset, -35px 0px 25px #f7f7f7 inset;
    overflow:hidden;
    margin-bottom:15px;
  }


.grey {
color:$grey;
}

@media only screen and (min-width:767px) and (max-width:850px) {
.weather-description {
display:none;
}
.weather-description-tablet {
padding-top:30px;
display:block !important;
}
}

.weather-description-tablet {
  display:none;
}

