body {

  p, h1, h2, h3, h4, h5, div, .button {
    font-family: 'Nova Flat', cursive;
    color:#666666;
  }

    font-family: 'Nova Flat', cursive;
    color:#666666;
    background:#f7f7f7;
    text-shadow: 1px 1px 0px white;
}



