.green_box {
background:green;

display:inline-block;
margin:5px;
width:10px;
height:10px;
content:' ';
}
.red_box {
background:red;

display:inline-block;
margin:5px;
width:10px;
height:10px;
content:' ';
}

.status-block {
text-align:center;
  .status {
    display:inline-block;
  }
}
.noaa {
background: #EEEEEE;
}
.noaa-header {
background: #DDDDDD;
}
