.weather-now {
  font-size: 86px;
  color:black;
  margin-left:80px;
  display:block;
  min-height:80px;
}
.measuring {
  font-size:48px;
  color:black;
}
.weather {
  overflow:hidden;
  min-height:80px;
//position:relative;
}
.weather-description {
  font-size:16px;
  margin-bottom:20px;
}
.weather-week {
  min-height:80px;
  background:url(dots-vertical.png) repeat-y;
  padding-left:30px; 
  margin-top:-20px; 

  .high {
  font-size: 13px;
  padding-top:10px;
  }
  .low {
  font-size: 12px;
  }

  ul {
    list-style-type:none;
    li {
      float:left;
      margin-right:30px;
      text-align:center;
      font-size:13px;
    }
  }
}
.icon-wrap {

  box-shadow:2px 2px 2px rgba(0,0,0,0.1) red;//inset;
  overflow:hidden;
  width:30px;
  height:30px;

  .small-icon {
  width:30px;
  height:30px;
  }
  
  

}


.icon {
  width:80px;
  height:80px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1) inset;
}


.left_icon {
display:block;
margin-right:10px;
//float:left;
position:absolute;
}

.cloudy {
  background:url('weather/cloudy.png');
}
.foggy {
  background:url('weather/foggy.png');
}
.partly-cloudy {
  background:url('weather/partly-cloudy.png');
}
.raining {
  background:url('weather/raining.png');
}
.snowing {
  background:url('weather/snowing.png');
}
.sunny {
  background:url('weather/sunny.png');
}
.thunderstorm {
  background:url('weather/thunderstorm.png');
}
