$grey:#999999;

.main-table {

  width:90%;
  border:none;
  background:none;
  font-size:16px;  
  
  td {
    border-bottom:1px dotted gray;
    padding: 15px 0px;
    font-size:16px;  
  
  }

  tr {
    &:first-child {
      td {
      border-top:2px solid gray;
      }
    }

  }
  
  border-collapse: collapse;
	border-spacing: 0;


}

.graph-table {
display:none;
}

.provider-analytics {
margin-bottom:50px;
}
