$grey:#999999;

.main-table {

  width:100%;
  border:none;
  background:none;
  
  tr {
    td {
    border-top:1px dotted $grey !important;
    border-bottom:1px dotted $grey;
    }
    
    &:first-child {
      td {
        border-top:2px solid $grey;
      }
    }
    &:last-child {
      td {
        border-bottom:1px solid $grey;
      }
    }
    
  }


}
