.footer_space
.container.footer
  .row
    .six.columns
      This is an open source project. 
      =link_to 'GitHub account', 'https://github.com/coshx/weather-rooster'
    .six.columns
      =render 'meta/facebook_likebox'

