.row.header
  .four.columns.push-eight
    %ul.nav
      %li
        =link_to 'About', "/about"
      %li
        =link_to 'City Details', "/city_details"
      %li
        =link_to 'Contact', "/contact"
        
  .five.columns.pull-four
    %a.logo{:href => '/'}
      %h1 Weather Rooster
      %p Today is Wednesday, August, 23rd
    
  .three.columns.pull-four
    =render 'meta/twitter_tweet'
  
