.row.header
  .five.columns
    %a.logo{:href => '/'}
      %h1 Weather Rooster
      %p Today is Wednesday, August, 23rd
    
  .three.columns
    =render 'meta/twitter_tweet'
  .four.columns
    %ul.nav
      %li
        =link_to 'About', "about"
      %li
        =link_to 'Contact', "#"
      %li
        =link_to 'Join', "#"
      %li
        =link_to 'Login', "#"
  
