.row
  .four.columns
    .logo
      %h1 Weather Rooter
      %p Today is Wednesday, August, 23rd
    
  .four.columns
    =render 'meta/facebook_like'
    =render 'meta/twitter_tweet'
  .four.columns
    %ul.nav
      %li
        =link_to 'About', "#"
      %li
        =link_to 'Contact', "#"
      %li
        =link_to 'Join', "#"
      %li
        =link_to 'Login', "#"
  
