.row.header
  .four.columns.push-eight
    %ul.nav
      %li
        =link_to 'About', "about"
      %li
        =link_to 'Analytics', "analytics"
      %li
        =link_to 'Join', "#"
      %li
        =link_to 'Login', "#"
        
  .five.columns.pull-four
    %a.logo{:href => '/'}
      %h1 Weather Rooster
      %p Today is Wednesday, August, 23rd
    
  .three.columns.pull-four
    =render 'meta/twitter_tweet'
  
