-a1, a2 = ""
-a1 = 'active' if controller.action_name == "about"
-a2 = 'active' if controller.action_name == "contact"

.row.header
  .five.columns.push-seven
    %ul.nav
      %li
        =link_to 'About', "/about", :class => a1
      %li
        =link_to 'Contact', "/contact", :class => a2
        
  .six.columns.pull-five
    %a.logo{:href => '/'}
      %h1 Weather Rooster
      %p The Most Accurate Weather
    
  .one.columns.pull-five
      
